.sidebar {
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: sticky;
    background-image: linear-gradient(#015C92, #2D83B5, #89CCF6);
}
.sidebar-logo-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 1rem;
}
.sidebar-logo-container img {
    width: 70%;
    padding: 2em;
}
.sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-items {
    height: 100%;
    width: 100%;
}
.sidebar-item {
    padding: 1.5em;
    padding-left: 2em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.sidebar-item:hover {
    background-color: #004B77;
}
.sidebar-item-active {
    padding: 1.5em;
    padding-left: 2em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    background-color: #004B77;
    cursor: pointer;
}
.sidebar-item-icon {
    width: 20px;
}
.sidebar-item-label {
    font-size: small;
    font-weight: 600;
    margin-left: 12px;
    margin-bottom: 4px;
}
/* Footer */
.sidebar-footer {
    padding: 1.5em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}